body {
	font-family: "Segoe UI Light";
	padding: 0 60px;
}

svg {
	width: 100%;
	height: 337px;
	overflow: visible;
	shape-rendering: crispEdges;
}

.females {
	fill: #993392;
}

.males {
	fill: #07466D;
}

.male-label, .female-label {
	font-family: Helvetica;

}

.male-label {
	text-anchor: start;
}

.female-label {
	text-anchor: end;
	

}

.axis path.domain {
	fill: none;
	stroke: #333;
	stroke-width: 1px;
}

.y.axis g.tick line {
	stroke: #F1F1F1;
	stroke-width: 1;
}

.x.axis g.tick line {
	stroke: #F1F1F1;
	stroke-width: 1;
}

.x.axis g.tick:hover line {
	stroke: #333;
	stroke-width: 1;
}


.axis g.tick text {
	font-family: Helvetica;
	font-size: 10px;
}