h1 {
	text-transform: uppercase;
	font-family: 'Helvetica';
	text-align: center;
}

#population svg {
	width: 100%;
	height: 200px;
}


.males {
	fill: #07466D;
}

.females {
	fill: #993392;
}

.axis path.domain {
	fill: none;
	stroke: #333;
	stroke-width: 1px;
}

.axis g.tick line {
	stroke: #333;
	stroke-width: 1px;
}

.axis g.tick text {
	font-family: Helvetica;
	font-size: 10px;
}